{% extends 'frontbase.html.twig' %}

{% block title %} Hakkımızda  {{ data[0].title }} {% endblock %}
{% block keywords %} {{ data[0].keywords }} {% endblock %}
{% block description %} {{ data[0].description }} {% endblock %}
{% block content %}

    <div id="mainBody">
        <div class="container">
            <h1>HAKKIMIZDA</h1>
            <hr class="soften">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    {{ data[0].aboutus | raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}