{% extends 'adminbase.html.twig' %}

{% block title %}Shopping Admin Panel {% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-head-line">ONLİNE AYAKKABI ALIŞVERİŞ SİTESİ ADMİN PANELİ</h2>
                    <h1 style="text-align: center"class="page-subhead-line"><b>ONLİNE AYAKKABI ALIŞVERİŞ SİTESİ ADMİN PANELİ </b></h1>

                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.
                        <br />
                        Enjoy this admin and for more please keep looking <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
{% endblock %}
