{% extends 'adminbase.html.twig' %}
{% block title %}Kategori Düzenle {% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="page-head-line">Kategori Düzenle

                    </h5>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">


                        {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

                        {{ include('admin/category/_delete_form.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
{% endblock %}

